.container3 {
    width: 30vw;
    position: relative;
}

.connection-container {
    /* height: 50vh; */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.container3 .connection-container>h3 {
    font-weight: 600;
    font-size: 18px;
    margin: 12px;
    color: #222;
}

.container3 .connection-container .connection-id {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container3 .connection-container .connection-id>img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    align-self: flex-start;
    margin: 6px;
}

.container3 .connection-container .connection-id .name {
    font-size: 15px;
    font-weight: 600;
    color: #222;
}

.container3 .connection-container .connection-id .tagline {
    font-size: 13px;
    color: #828282;
}

.container3 .connection-container .connection-id a {
    border: 1px solid #828282;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 6px 12px;
    font-weight: 600;
    color: #222;
    width: min-content;
    margin: 12px 0px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.container3 .connection-container .connection-id a:hover {
    background-color: #ccc;
}

.container3 .connection-container .view-all a {
    display: flex;
    margin: 8px;
    text-decoration: none;
    color: #828282;
    padding: 2px 4px;
    width: max-content;
    border-radius: 4px;
    /* justify-content:center; */
    align-items: center;
    gap: 8px;
    transition: all 0.3 ease-in;
}

.container3 .connection-container .view-all a:hover {
    background-color: #ccc;

}

.container3 .premium img {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px 0px;
}


.container3 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 10px 25px;
    flex-wrap: wrap;
}

.container3 ul li {
    list-style-type: none;
}

.container3 ul li a {
    color: #828282;
    font-size: 13px;
    text-decoration: none;
}
.container3 ul li a:hover {
    text-decoration: underline;
}


.container3 footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222;
    font-size: 13px;
    gap: 4px;
    margin-top: 20px;
}


@media only screen and (max-width: 980px) {
    .container3 {
        display: none;
    }
}
